{
  "permissions": {
    "chat": {{ onlyoffice_default_editor_permissions.chat | lower }},
    "comment": {{ onlyoffice_default_editor_permissions.comment | lower }},
    "download": {{ onlyoffice_default_editor_permissions.download | lower }},
    "edit": {{ onlyoffice_default_editor_permissions.edit | lower }},
    "print": {{ onlyoffice_default_editor_permissions.print | lower }}
  }
}
